.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.682);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.reserve-preview {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(43, 42, 42, 0.895);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.rContainer {
  background-color: #dfe1e6;

  border-radius: 5px;
  padding: 0px;
  position: relative;
}

.over {
  height: 100%;
  max-height: 510px;
  overflow-y: auto;
}

.parlour-reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.877);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.preview-container {
  border-radius: 5px;
  padding-top: 20px;
  position: relative;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.parlour-container {
  padding: 15px;
  position: relative;
  border-radius: 10px;

  height: 100%;
  max-height: 525px;
  max-width: 88vw;
  overflow-y: auto;
}
@media screen and (max-width: 767px) {
  .parlour-container {
    max-width: 88vw;
    padding: 2px;
    max-height: 590px;
  }
}
@media screen and (max-width: 376px) {
  .parlour-container {
    max-height: 450px;
  }
}
.scrollable-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollable-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.rContainer:nth-child(odd) {
  border-bottom: rgb(29, 9, 9) 1px solid;
}
.rContainer:nth-child(even) {
  border-bottom: rgb(29, 9, 9) 1px solid;
}
.rContainer1 {
  background-color: #c8cace;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  border: black 1px solid;
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 300;
}

.rMax {
  font-size: 12px;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 15px;
  color: gray;
}

.room {
  display: flex;
  flex-direction: column;
}

.room input {
  width: 30px;
  height: 40px;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}
