.active {
  border: 1px solid whitesmoke;
  padding: 10px;
  border-radius: 20px;
}
.headerBtn {
  background-color: #5151c0;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.shadow {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #13338a;
  -webkit-box-shadow: 9px 9px 24px #e2e5f1, -9px -9px 24px #ffffff;
  box-shadow: 9px 9px 24px #c9cbd0, -9px -9px 24px #ffffff;
}

.header {
  height: 100vh;
  width: 50vw;
  overflow: auto;
  background-color: white;
  padding: 20px;
  position: fixed;
  z-index: 1;
}
.cross {
  float: right;
  font-size: 30px;
  color: black;
  cursor: pointer;
  padding: 10px 10px;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

@media only screen and (max-width: 767px) {
  .header {
    height: 100vh;
    width: 80vw;

    position: fixed;
    z-index: 1;
  }
}
