.greetingimgs1 {
  max-height: 50px;
  width: auto;
  background-size: cover;
  transition: max-height 0.3s ease;
}

.greetingimgs2 {
  max-height: 65px;
  width: auto;
  background-size: cover;
  transition: max-height 0.3s ease;
}

.head1 {
  background-color: white !important;
  padding-top: 7px;
  padding-bottom: 7px;
  max-height: 200px;
  color: #000000 !important;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: 0 9px 23px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.head2 {
  background-color: transparent !important;
  padding-top: 7px;
  padding-bottom: 7px;
  max-height: 200px;
  transition: max-height 2.5s ease;
  transition: background-color 2.5s ease-out;
}
