.greetingimgs1 {
  max-height: 50px;
  width: auto;
  background-size: cover;
  transition: max-height 0.3s ease;
}

.greetingimgs2 {
  max-height: 65px;
  width: auto;
  background-size: cover;
  transition: max-height 0.3s ease;
}
