.imgs1 {
  max-height: 80px;
  width: auto;
  background-size: cover;
  transition: max-height 0.3s ease;
}

.imgs2 {
  max-height: 100px;
  width: auto;
  background-size: cover;
  transition: max-height 0.3s ease;
}

.head1 {
  background-color: white !important;
  max-height: 130px;
  transition: max-height 0.3s ease;

  color: #000000 !important;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.head2 {
  background-color: transparent !important;

  max-height: 200px;
  transition: max-height 0.3s ease;
  transition: background-color 0.5s ease-out;
}
.head3 {
  background-color: white;

  max-height: 200px;
  transition: max-height 0.3s ease;
  transition: background-color 0.5s ease-out;
}

.mainHead {
  // height: 6.35rem;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  z-index: 19;
}
@media screen and (max-width: 767px) {
  .head2 {
    background-color: #fff;
  }
}
